.App{
  width: 1158px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-size: 3rem;
  color: #282d40;
  text-align: center;
  margin-top: 10px;

}
.btn-gerador{
  background-color: #7e6cca;
  color: whitesmoke;
  font-size: 1.7rem;
  border: none;
  outline: none;
  cursor: pointer;
  width: 370px;
  max-width: 90%;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0 0 50px hsla(251, 47%, 61%, 0.295);
  ;
  transition: all 0.5s;
}
.btn-gerador:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-5px);
}
p{
  text-align: center;
  font-size: 1.4rem;
  color:#434959;
  margin: 10px 0;
  
}

.box-card{
  background-color: #fff;
  font-size: 1.6rem;
  padding: 10px 23px;
  border-radius: 50px;
  color:   #434959;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);

}
