*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  
}
html{
    /* 62.5% of 16px browser font size is 10px */
    font-size: 62.5%;

  
}
html,body{
  height: 100%;
  background-color: #e8ecf3;

}